<div>
    <div class="col-xs-12">
        <form action="{:url('Manage/editAction')}" role="form" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="realName" class="col-sm-3 control-label no-padding-right ">姓名</label>

                <div class="col-sm-9">
                    <input type="text" class="col-xs-10 col-sm-5" id="realName" name="realName" value="{$overtime.realName}" readonly/>
                </div>
                <div class="space-4"></div>
            </div>
            <div class="form-group">
                <label for="vacaType" class="col-sm-3 control-label no-padding-right ">类型</label>

                <div class="col-sm-9">
                    <select name="vacaType" id="vacaType">
                        {if condition="$overtime.vacaType==1"}
                        <option value="1" selected>加班</option>
                        <option value="2">调休</option>
                        {else/}
                        <option value="1">加班</option>
                        <option value="2" selected>调休</option>
                        {/if}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="datepicker" class="col-sm-3 control-label no-padding-right ">日期</label>

                <div class="col-sm-9">
                    <input type="text" id="datepicker" class="col-xs-10 col-sm-5" name="vacaDate" value="{$overtime.startTime|date='Y/m/d',###}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="startTime" class="col-sm-3 control-label no-padding-right ">开始时间</label>

                <div class="col-sm-9">
                    <input type="text" id="startTime" class="timepicker col-xs-10 col-sm-5" name="startTime" value="{$overtime.startTime|date='H:i',###}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="endTime" class="col-sm-3 control-label no-padding-right ">结束时间</label>

                <div class="col-sm-9">
                    <input type="text" id="endTime" class="timepicker col-xs-10 col-sm-5" name="endTime" value="{$overtime.endTime|date='H:i',###}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="reason" class="col-sm-3 control-label no-padding-right">事由</label>

                <div class="col-sm-9">
                    <textarea name="reason" id="reason" class="form-control col-xs-10 col-sm-5">{$overtime.reason}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="totalTime" class="col-sm-3 control-label no-padding-right">时长(时)</label>
                <div class="col-xs-10 col-sm-4">
                    <input type="number" step="0.1" class="form-control col-xs-10 col-sm-5" id="totalTime" name="totalTime" value="{$overtime.totalTime}"/>
                </div>
            </div>
            <input type="text" name="vid" value="{$overtime.id}" hidden="hidden"/>
            <div class="form-group">
                <div class="col-sm-offset-3">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
