<div class="z-content test">
    <div class="margin-b10">
        <form class="form-inline">
            <div class="form-group">
                <label for="realName" class="control-label">姓名：</label>
                <input type="text" id="realName" name="realName" class="input-sm form-control"/>
            </div>
            <div class="form-group">
                <label for="vacaType" class="control-label">类型：</label>
                <select name="vacaType" id="vacaType" class="form-control">
                    <option value="3">全部</option>
                    <option value="1">加班</option>
                    <option value="2">调休</option>
                </select>
            </div>
            <div class="form-group">
                加班时间:<input type="text" name="startTime" id="datepicker" class="form-control input-sm"/>
            </div>
            <div class="form-group">
                至<input type="text" name="endTime" id="datepicker2" class="form-control input-sm"/>
            </div>
            <button class="btn btn-info btn-sm"><i class="icon-search "></i>查询</button>
            <div class="form-group pull-right">
                <button class="btn btn-sm btn-primary">新增</button>
                <button class="btn btn-sm btn-danger"><i class="icon-refresh"></i>刷新</button>
            </div>
        </form>
    </div>
    <div class="form-bg">
        <div>
            <table class="table table-striped table-bordered table-hover bg-white">
                <thead>
                <tr>
                    <th class="center">序号</th>
                    <th class="center">姓名</th>
                    <th class="center">类型</th>
                    <th class="center">日期</th>
                    <th class="center">开始时间</th>
                    <th class="center">结束时间</th>
                    <th class="center">加班事由</th>
                    <th class="center">加班时长(时)</th>
                    <th class="center">调休时长(时)</th>
                    <th class="center">操作时间</th>
                    <th class="center">操作</th>
                </tr>
                </thead>
                <tbody class="center">
                {volist name="overtimes" id="overtime"}
                <tr>
                    <td>{$overtime.id}</td>
                    <td>{$overtime.realName}</td>
                    {if condition="$overtime.vacaType==1"}
                    <td>加班</td>
                    {else/}
                    <td>调休</td>
                    {/if}
                    <td>{$overtime.startTime|date="Y/m/d",###}</td>
                    <td>{$overtime.startTime|date="H:i",###}</td>
                    <td>{$overtime.endTime|date="H:i",###}</td>
                    <td>{$overtime.reason}</td>
                    {if condition="$overtime.vacaType==1"}
                    <td>{$overtime.totalTime}</td>
                    <td></td>
                    {else/}
                    <td></td>
                    <td>{$overtime.totalTime}</td>
                    {/if}
                    <td>
                        {$overtime.createTime|date="Y/m/d H:i",###}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{:url('Manage/edit')}?vid={$overtime.id}">编辑</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="row page1 clearfix">
            <div class="col-sm-6">显示第{$page->currentFirstNum}至{$page->currentLastNum}条信息，共{$page->totalDataNum}条信息</div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_bootstrap">
                    {$page->render}
                </div>
            </div>
        </div>
    </div>
</div>
<div>
</div>
