<ul class="nav nav-list">
    {volist name="Config.menu" id="menu"}
        {present name="menu.control_sub"}
            <li class="{$menu.control_status}">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-{$menu.control_icon}"></i>
                    <span class="menu-text"> {$menu.control_name} </span>
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu">
                    {volist name="menu.control_sub" id="sub"}
                        <li class="{$sub.sub_status}">
                            <a href="{:url($sub['sub_link'])}">
                                <i class="icon-double-angle-right"></i>
                                {$sub.sub_name}
                            </a>
                        </li>
                    {/volist}
                </ul>
            </li>
        {else/}
            <li class="{$menu.control_status}">
                <a href="{:url($menu.control_link)}">
                    <i class="icon-{$menu.control_icon}"></i>
                    <span class="menu-text"> {$menu.control_name}  </span>
                </a>
            </li>
        {/present}
    {/volist}

</ul><!-- /.nav-list -->